body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.8; /* Aumentar a legibilidade */
    color: #333;
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.container, .grande{
margin: 0 auto;

}
.container{
    padding-left: 500px;
    margin: 70px;
    
}
.container h1{
    font-size: 20px;
    margin-bottom: 0px;
}
.container h2{
    font-size: 25px;
    margin-top: -15px;
}
.container p{
    font-size: 1rem;
   line-height: 1.6;      
   margin-bottom: 1rem; 
}

header {
    background-color: #b10701;
    color: #fff;
    height: 110px;
    width: 100%;
    font-size: 24px; /* Aumentar o tamanho da fonte */
}
header img {
    height: 50px;
    padding: 28px 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px; /* Aumentar o arredondamento */
    padding: 50px 50px; /* Aumentar o tamanho do botão */
    font-size: 18px; /* Aumentar o tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: grid; /* Usar grid para layout em colunas */
    grid-template-columns: repeat(3, 1fr); /* Três colunas de tamanhos iguais */
    grid-template-rows: repeat(3, auto); /* Três linhas automáticas */
    align-items: center; /* Centralizar conteúdo verticalmente */
    gap: 20px; /* Espaço entre itens */
}
.button-container {
    color: #fff;
    border: none;
    border-radius: 8px; /* Aumentar o arredondamento */
    padding: 50px 50px; /* Aumentar o tamanho do botão */
    font-size: 18px; /* Aumentar o tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: grid; /* Usar grid para layout em colunas */
    grid-template-columns: repeat(3, 1fr); /* Três colunas de tamanhos iguais */
    grid-template-rows: repeat(3, auto); /* Três linhas automáticas */
    align-items: center; /* Centralizar conteúdo verticalmente */
    gap: 20px; /* Espaço entre itens */
}

button:hover {
    background-color: #0056b3;
}

button img {
    width: 20px; /* Definir largura da imagem */
    height: 20px; /* Definir altura da imagem */
}
.folderconfig{
    background-color: #b10701;
    color: #fff;
    height: 110px;
    width: 100%;
    margin-top: 1 70px;
}

.textofolder{
    font-size: 12px;
    margin: 0 auto;
    padding-left: 500px;
    padding-top: 8px;
    margin: 70px;
}